{% extends 'app/settings/settings_base.html' %}
{% load static %}
{% block content %}
<div class="agrupacion">
    <div class="configuracion__menuDir">
        <h2 class="fw-bold mb-2 text-uppercase" style="margin-top: 1rem;">Mis metodos de pago</h2>
        <hr>
        <div class="configuracion__marginHist"></div>
        <div class="configuracion__btnsDire"></div>
    </div>
    <div class="configuracion__menuBtn_2 configuracion__btnsDire">
        <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Agregar Metodo">
        <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Guardar">
    </div>
</div>
{% endblock %}